a:link {
    color:dimgray;
    font-size: 17px;
    font-weight: bold;
    text-decoration:none;
}

a:visited {
    color:aqua;
    text-decoration:none;
}
    
a:hover {
    color:darkblue;
    text-decoration:none;
    }
    
a:active {
    color:#FFFFFF;
    text-decoration:none;
}

.login_panel{
    display: block;
    position: fixed;
    top: 15%;
    left: 30%;
    width: 40%;
    height: 70%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

.vault_panel{
    display: block;
    position: fixed;
    top: 2.5%;
    left: 5%;
    width: 90%;
    height: 95%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

.display_panel{
    display: block;
    position: fixed;
    top: 20%;
    left: 7%;
    width: 86%;
    height: 50%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 0 10px gray inset;
}

.item{
    display: block;
    width: 10%;
    height: 80px;
    z-index: 20;
    float: left;
    margin-left: 40px;
    margin-top: 25px;
}

.btns input {
    width: 80px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: rgb(29, 161, 242);
    border: rgb(29, 161, 242);
    border-radius: 7px;
}

.gap-2 {
    clear:both;
    height: 2px;
}

.gap-10 {
    clear:both;
    height: 10px;
}

.gap-20 {
    clear:both;
    height: 20px;
}

.gap-30 {
    clear:both;
    height: 30px;
}

.gap-40 {
    clear:both;
    height: 40px;
}